// NAVBAR
.nav {
    width: 100%;
    height: 97px;
    @include media(tabletL) {
        position: fixed;
        background-color: #202022;
        z-index: 9999;
    }
    &__container {
        width: 90%;
        max-width: 1160px;
        height: 97px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(desktopS) {
            max-width: 980px;
        }
    }
    &__logo {
        max-width: 147px;
        max-height: 26px;
        margin-top: 2px;
        a {
            max-height: 26px;
            svg {
                width: 100%;
                height: 26px;
                @include media(desktopL) {
                    width: 100%;
                    height: 26px;
                }
                @include media(desktopS) {
                    width: 100%;
                    height: 26px;
                }
                @include media(tabletL) {
                    width: 100%;
                    height: 26px;
                }
                @include media(tabletS) {
                    width: 100%;
                    height: 26px;
                }
                @include media(mobileL) {
                    width: 100%;
                    height: 26px;
                }
                @include media(mobileS) {
                    width: 100%;
                    height: 26px;
                }
            }
            h1 {
                display: none;
            }
        }
    }
    &__icon {
        display: none;
    }
    &__links {
        ul {
            display: flex;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            li {
                list-style: none;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
                margin-left: 12px;
                transition: all .2s linear;
                -o-transition: .2s linear; /* opera */
                -ms-transition: .2s linear; /* IE 10 */
                -moz-transition: .2s linear; /* Firefox */
                -webkit-transition: .2s linear; /*safari and chrome */
                &:last-child {
                    margin-right: 0px;
                }
                &:hover a::before {
                    color: map-get($colors, 'primary');
                    transition: all .2s linear;
                    -o-transition: .2s linear; /* opera */
                    -ms-transition: .2s linear; /* IE 10 */
                    -moz-transition: .2s linear; /* Firefox */
                    -webkit-transition: .2s linear; /*safari and chrome */
                }
                &:hover a::after {
                    color: map-get($colors, 'primary');
                    transition: all .2s linear;
                    -o-transition: .2s linear; /* opera */
                    -ms-transition: .2s linear; /* IE 10 */
                    -moz-transition: .2s linear; /* Firefox */
                    -webkit-transition: .2s linear; /*safari and chrome */
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: map-get($font-weight, '800');
                    transition: all .2s linear;
                    -o-transition: .2s linear; /* opera */
                    -ms-transition: .2s linear; /* IE 10 */
                    -moz-transition: .2s linear; /* Firefox */
                    -webkit-transition: .2s linear; /*safari and chrome */
                    scroll-behavior: smooth;
                    -webkit-overflow-scrolling: touch;
                    &::before {
                        content: '<';
                        color: transparent;
                        font-weight: bold;
                        position: relative;
                        top: 1px;
                        transition: all .2s linear;
                        -o-transition: .2s linear; /* opera */
                        -ms-transition: .2s linear; /* IE 10 */
                        -moz-transition: .2s linear; /* Firefox */
                        -webkit-transition: .2s linear; /*safari and chrome */
                    }
                    &::after {
                        content: '>';
                        color: transparent;
                        font-weight: bold;
                        position: relative;
                        top: 1px;
                        transition: all .2s linear;
                        -o-transition: .2s linear; /* opera */
                        -ms-transition: .2s linear; /* IE 10 */
                        -moz-transition: .2s linear; /* Firefox */
                        -webkit-transition: .2s linear; /*safari and chrome */
                    }
                    &:hover {
                        color: #64F4AC;
                        transition: all .2s linear;
                        -o-transition: .2s linear; /* opera */
                        -ms-transition: .2s linear; /* IE 10 */
                        -moz-transition: .2s linear; /* Firefox */
                        -webkit-transition: .2s linear; /*safari and chrome */
                        @include media(tabletL) {
                            color: #fff;
                        }
                    }
                    @include media(desktopS) {
                        font-size: map-get($font-size, '2');
                    }
                }
            }
        }
        &--blank {
            cursor: url('../../assets/cursor/cursor.png'), pointer;
        }
    }
}

// HERO
.hero {
    width: 100%;
    overflow: visible !important;
    &__container {
        width: 90% !important;
        height: 90vh;
        max-width: 1160px;
        margin: auto;
        display: grid;
        grid-template-columns: 55% 45%;
        align-items: center;
        @include media(desktopS) {
            width: 90%;
            max-width: 980px;
        }
        @include media(tabletL) {
            width: 90%;
            padding-top: 90px;
        }
        @include media(mobileL) {
            width: 90% !important;
            padding-top: 100px;
            margin: 0 auto;
        }
    }
    &__content {
        width: 520px;
        height: 394px;
        max-width: 520px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        @include media(desktopS) {
            width: 490px;
            max-width: 490px;
        }
        @include media(mobileL) {
            width: 432px;
        }
    }
    &__img {
        width: 520px;
        height: 472px;
        @include media(desktopS) {
            max-width: 502px;
            height: 402px;
            position: absolute;
            right: 3%;
        }
        @include media(tabletL) {
            display: none;
        }
        @include media(mobileL) {
            display: none;
        }
        img {
            max-width: 520px;
            max-height: 472px;
            @include media(desktopS) {
                width: 100%;
                min-width: 350px;
                height: 402px;
            }
            @include media(tabletL) {
                display: none;
            }
            @include media(mobileL) {
                display: none;
            }
        }
    }
    &__title {
        color: map-get($colors, 'white');
        font-size: 40px;
        font-weight: map-get($font-weight, '700');
        z-index: 999;
        @include media(desktopS) {
            font-size: 40px;
        }
        @include media(tabletL) {
            font-size: 36px;
        }
        @include media(mobileL) {
            font-size: 28px;
        }
        @include media(mobileS) {
            font-size: 24px;
        }
    }
    &__typed-text {
        user-select: none;
        margin-top: 4px;
        span {
            font-size: map-get($font-size, '2');
            margin-bottom: -0.35rem;
        }
        span.typed-text {
            font-size: 28px;
            font-weight: map-get($font-weight, '500');
            color: map-get($colors, 'white');
            letter-spacing: 0.5px;
            @include media(desktopS) {
                font-size: 26px;
            }
            @include media(mobileL) {
                font-size: map-get($font-size, '4');
            }
        }
        span.bar {
            display: inline-block;
            background-color: map-get($colors, 'primary');
            width: 3px;
            animation: blink .9s infinite;
        }
        span.bar.typing {
            animation: none;
        }
        @keyframes blink {
            0%  { background-color: map-get($colors, 'primary'); }
            49% { background-color: map-get($colors, 'primary'); }
            50% { background-color: transparent; }
            99% { background-color: transparent; }
            100%  { background-color: map-get($colors, 'primary'); }
        }
    }
    &__p {
        @include media(mobileL) {
            width: 100%;
            max-width: 320px;
        }
        @include media(mobileS) {
            width: 60%;
            max-width: none;
        }
    }
    &__paragraph {
        margin-top: 8px;
        font-size: map-get($font-size, '2');
        font-weight: map-get($font-weight, '400');
        color: map-get($colors, '1');
        letter-spacing: 0.5px;
        @include media(desktopS) {
            font-size: map-get($font-size, '1');
        }
        @include media(tabletL) {
            max-width: 420px;
        }
        @include media(mobileS) {
            font-size: 13px;
        }
    }
    &__btn {
        margin-top: map-get($spacing, '8');
        width: 224px;
        height: 64px;
        border-radius: 8px;
        background-color: map-get($colors, 'primary');
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: map-get($font-size, '4');
        font-weight: map-get($font-weight, '700');
        color: map-get($colors, '2');
        transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out; /* opera */
        -ms-transition: .3s ease-in-out; /* IE 10 */
        -moz-transition: .3s ease-in-out; /* Firefox */
        -webkit-transition: .3s ease-in-out; /*safari and chrome */
        &:hover {
            box-shadow: 0px 5px 20px 1px rgba(100,244,172, 0.25);
            -webkit-box-shadow: 0px 5px 20px 1px rgba(100,244,172, 0.25);
            transition: all .3s ease-in-out;
            -o-transition: .3s ease-in-out; /* opera */
            -ms-transition: .3s ease-in-out; /* IE 10 */
            -moz-transition: .3s ease-in-out; /* Firefox */
            -webkit-transition: .3s ease-in-out; /*safari and chrome */
        }
    }
    &__social {
        margin-top: 32px;
        ul {
            display: flex;
            li {    
                cursor: pointer;
                margin-right: map-get($spacing, '2');
                &:last-child {
                    margin-right: 0;
                }
                &:hover .hero__social--svg{
                    fill: map-get($colors, 'primary');
                    transition: all .3s ease-in-out;
                    -o-transition: .3s ease-in-out; /* opera */
                    -ms-transition: .3s ease-in-out; /* IE 10 */
                    -moz-transition: .3s ease-in-out; /* Firefox */
                    -webkit-transition: .3s ease-in-out; /*safari and chrome */
                }
            }
        }
        &--svg {
            fill: #656568;
            cursor: pointer;
            transition: all .3s ease-in-out;
            -o-transition: .3s ease-in-out; /* opera */
            -ms-transition: .3s ease-in-out; /* IE 10 */
            -moz-transition: .3s ease-in-out; /* Firefox */
            -webkit-transition: .3s ease-in-out; /*safari and chrome */
        }
    }
}

// BURGER MENU
@media screen and (max-width: 980px){
    .nav {
        display: flex;
        justify-content: center;
        height: 60px;
        &__container {
            width: 90%;
            height: 60px;
            margin: 0 auto;
            justify-content: space-between;
            position: fixed !important;
            z-index: 99999;
        }
        &__icon {
            display: flex;
            justify-content: center;
            height: 35px;
            width: 40px;
            align-items: center;
            color: #64F4AC;
            z-index: 999;
            cursor: pointer;
        }
        &__links {
            position: fixed;
            height: 100vh;
            right: 0;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            transition: all 1s ease-in-out;
            -o-transition: 1s ease-in-out; /* opera */
            -ms-transition: 1s ease-in-out; /* IE 10 */
            -moz-transition: 1s ease-in-out; /* Firefox */
            -webkit-transition: 1s ease-in-out; /*safari and chrome */
            background: #202022;
            padding: 60px 60px;
            margin-top: 0;
            align-items: flex-start;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: auto auto auto auto;
                li {
                    padding: 20px;
                    a {
                        color: #fff;
                        font-size: 24px;
                        font-weight: 800;
                        margin-left: 0;
                        &:hover {
                            color: #fff;
                        }
                        &::before {
                            display: none;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        &__burger {
            width: 32px;
            height: 5px;
            background: #64F4AC;
            position: relative;
            border-radius: 32px;
            overflow: visible;
            cursor: pointer;
            right: 0;
            &:before {
                content: '';
                background-color: #64F4AC;
                width: 32px;
                height: 5px;
                background: #64F4AC;
                position: absolute;
                border-radius: 32px;
            }
            &:after {
                content: '';
                background-color: #64F4AC;
                width: 32px;
                height: 5px;
                background: #64F4AC;
                position: absolute;
                top: 11px;
                border-radius: 32px;
            }
        }

        .burger-open{
            animation: midToCross 0.7s ease-in-out forwards;
            &:before{
                animation: upToCross 0.7s ease-in-out forwards;
            }
            &:after{
                animation: botToCross 0.7s ease-in-out forwards;
            }
        }

        .burger-closed{
            animation: CrossToMid 0.7s ease-in-out forwards;
            &:before{
                animation: CrossToUp 0.7s ease-in-out forwards;
            }
            &:after{
                animation: CrossToBot 0.7s ease-in-out forwards;
            }
        }

        @keyframes upToCross{
            0%{
                transform: none;
                top: -8px;
            }
            50%{
                transform: none;
                top: 0;
            }
            100%{
                top: 0;
                transform: rotate(-45deg);
            }
        }

        @keyframes midToCross{
            0%{
                background: #64F4AC;
            }
            99%{
                background: transparent;
            }
            100%{
                background: transparent;
            }
        }

        @keyframes botToCross{
            0%{
                transform: none;
                top: 8px;
            }
            50%{
                transform: none;
                top: 0;
            }
            100%{
                top: 0;
                transform: rotate(45deg);
            }
        }

        @keyframes CrossToUp{
            0%{
                top: 0;
                transform: rotate(-45deg);
            }
            50%{
                transform: none;
                top: 0;
            }
            100%{
                transform: none;
                top: -8px;
            }
        }

        @keyframes CrossToMid{
            0%{
                background: transparent;
            }
            99%{
                background: #64F4AC;
            }
            100%{
                background: #64F4AC;
            }
        }

        @keyframes CrossToBot{
            0%{
                top: 0;
                transform: rotate(45deg);
            }
            50%{
                transform: none;
                top: 0;
            }
            100%{
                transform: none;
                top: 8px;
                
            }
        }

        .isOpen {
            -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
        }
        
        .isClosed {
            -webkit-clip-path: circle(150% at 100% 0%);
            clip-path: circle(150% at 100% 0%);
        }
    }
}

.cursor {
    width: 0.625rem;
    height: 0.625rem;
    background-color: map-get($colors, 'primary');
    box-shadow: 0 0 2px 0.5px #64F4AC;
    border-radius: 50%;
    position: absolute;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    z-index: 9999999;
    overflow: hidden;
}