// --- PAGE LOADER ---
.cont {
    background-color: map-get($colors, 'bg-color');
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 1.5s ease;
    z-index: 99999999;
    display: flex;
    justify-content: center !important;
    align-items: center;
    overflow: visible;
    user-select: none;
}

@keyframes load {
  0% {
    left: 0;
    width: 0px;
  }
  50% {
    left: 150px;
    width: 150px;
  }
  100% {
    left: 300px;
    width: 0px;
  }
}

@keyframes loadMobile {
    0% {
      left: 0;
      width: 0px;
    }
    50% {
      left: 100px;
      width: 100px;
    }
    100% {
      left: 200px;
      width: 0px;
    }
}
  

.loader {
    position: relative;
    width: 300px;
    min-height: 8px;
    @include media(mobileL) {
        width: 200px;
    }
    img {
        position: absolute;
        width: 265px;
        height: 40px;
        object-fit: cover;
        background-size: cover;
        top: -50px;
        left: 17px;
        @include media(mobileL) {
            position: absolute;
            width: 265px;
            height: 30px;
            object-fit: cover;
            background-size: cover;
            top: -50px;
            left: 1px;
        }
    }
  }
  
  .loader::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 300px;
    min-height: 8px;
    background-color: map-get($colors, 'bg-color-sec');
    @include media(mobileL) {
        width: 200px;
    }
  }
  
  .loader::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    min-height: 8px;
    background-color: map-get($colors, 'primary');
    box-shadow: 0px 0px 10px 2px rgba(100,244,172,0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(100,244,172,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(100,244,172,0.75);
    animation: load 1.5s linear infinite;
    @include media(mobileL) {
        animation: loadMobile 1.5s linear infinite;
        width: 200px;
    }
  }

  