// COLOR PALETTE
$colors: (
    'primary': #64F4AC,
    'bg-color': #202022,
    'bg-color-sec': #28282B,
    '1': #B6B6B7,
    '2': #2D2E32,
    '3': #28282B,
    '4': #656568,
    '5': #63636B,
    '6': #3A98DB,
    '7': #0E0E0F,
    '8': #ff4709,
    'black': #000000,
    'white': #FFFFFF
);

// FONT SIZE
$font-size: (
    '0': 12px,
    '1': 14px,
    '2': 16px,
    '3': 20px,
    '4': 24px,
    '5': 32px,
    '6': 40px,
    '7': 48px,
    '8': 52px,
    '9': 64px
);

// FONT WEIGHT
$font-weight: (
    '300': 300, //LIGHT
    '400': 400, //REGULAR
    '500': 500, //MEDIUM
    '600': 600, //SEMI BOLD
    '700': 700, //BOLD
    '800': 800, //EXTRA BOLD
    '900': 900  //BLACK
);

// SPACING
$spacing: (
  '1': 4px,
  '2': 8px,
  '3': 12px,
  '4': 16px,
  '5': 20px,
  '6': 24px,
  '7': 28px,
  '8': 32px,
  '9': 36px,
  '10': 48px,
  '11': 96px,
  '12': 128px,
);

// FONT
$font-poppins: 'Poppins', sans-serif;